#container {
    width: 69%;
    margin: auto;
    padding: 0px 69px;
    border: solid #32a1ce;
    border-radius: 42px;
}

#container img {
    margin: auto;
    width: 100%;
}

h1, h2, h5, h6 {
    text-align: center;
}

#container p {
    text-align: left;
}

.caption {
    font-style: italic;
    text-align: center;
    color: grey;
}

.code {
    font-family: monospace;
    background-color: #eee;
    border: solid #aaa;
    border-radius: 5px;
    padding: 0px 10px;
    clear: both;
}
